<section class="chat-app">
  <div ng-include="'partials/navbar'"></div>
  <div class="main container-fluid">

    <div class="chat row">
    
    <div class="col-sm-6 col-sm-offset-3">
      <section auto-scroll="event:scroll">
        <ul class="list-group">
          <li class="list-group-item radius" ng-repeat="message in getMessages()">

            <div class="message">
              <!--<div class="author" ng-class="{'me':currentUser.name == message.author.name}">{{ message.author.name }}</div>
              <div class="date">{{ message.date | date: 'h:mm' }}</div>
              <div class="body">{{ message.body }}</div> <br />-->
              {{ message.date | date: 'dd MMM h:mm' }} -- <span style="color: grey">{{message.author.name }} </span> a écrit : <span style="color: blue"> {{ message.body }}</span>
            </div>
          </li>
        </ul>
      </section>
      <footer>
        <form class="message-form" ng-submit="sendMessage()">
          <input class="new-message" placeholder="Type your message here..." ng-model="newMessage" ng-trim="false" autofocus>
      <button class="btn btn-primary">Valider</button>
        </form>
      </footer>
    </div>
    <aside>User en ligne
      <ul>
        <li class="list-unstyled" ng-repeat="visitor in getVisitors()">

          <div class="name" ng-class="{'me':currentUser.name == visitor.name}">{{ visitor.name }}</div>
        </li>
      </ul>
    </aside>
  </div>
  
  
  </div>
</section>
