<section class="chat-app">
  <div ng-include="'partials/navbar'"></div>
  <div class="main">

    <div class="page-container">
      <div class="row">
        <div class=" col-sm-offset-4 col-sm-4  col-sm-offset-4">
          <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
          
            <h3>Email : {{currentUser.email}}  -- name : {{currentUser.name}} -- name : {{user.name}} -- pasword:  {{user.password}}</h3>

            <div class="form-group">
              <label>User Name</label>

              <input type="text" name="name" class="form-control" mongoose-error="" ng-model="currentUser.name">
              <p class="help-block" ng-show="form.name.$error.mongoose">
              </p>
            </div>

            <div class="form-group">
              <label>Current Password</label>

              <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                     mongoose-error/>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                  {{ errors.other }}
              </p>
            </div>

            <div class="form-group">
              <label>New Password</label>

              <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                     ng-minlength="3"
                     required/>
              <p class="help-block"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                Password must be at least 3 characters.
              </p>
            </div>

            <p class="help-block"> {{ message }} </p>

            <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
          </form>
        </div>
      </div>

           <div class="row col-sm-12">
          <div class="col-sm-2">
            <nav>
              <div ng-include="'partials/menu'"></div>
            </nav>
          </div>
          <div class="col-sm-offset-2 col-sm-4">

            <form class="form" name="form" novalidate="" enctype="multipart/form-data">

              <div class="row">
                <label for="fileToUpload">Select a File to Upload</label><br>
                <input type="file" ng-model-instant="" id="fileToUpload" multiple="multiple" onchange="angular.element(this).scope().setFiles(this)">
              </div>
              <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
              <div ng-show="files.length">
                <div ng-repeat="file in files.slice(0)">
                  <span>{{file.webkitRelativePath || file.name}}</span>
                  (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default="">{{file.size / 1024 | number:2}} kB</span>
            </span>)
                </div>
                <input type="button" ng-click="uploadFile()" value="Upload">
                <div ng-show="progressVisible">
                  <div class="percent">{{progress}}%</div>
                  <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                  </div>
                </div>
              </div>


            <!--  <div>
                <div>

                    <fieldset class="ng-binding">
                      aaaa{{d}}
                      <legend>Upload on form submit</legend>
                      Username: <input type="text" name="userName" ng-model="username" size="39" required="">
                      <i ng-show="form.userName.$error.required">*required</i><br>
                      Profile Picture: <input type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" required="">
                      <i ng-show="form.file.$error.required">*required</i>
                      <br>

                      <button  ng-click="uploadPic(picFile)">Submeedeit</button>
                      <img ngf-src="picFile" class="thumb">
              <span class="progress" ng-show="picFile.progress >= 0">
                  <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
              </span>
                      <span ng-show="picFile.result">Upload Successful</span>
                    </fieldset>
                    <br>

                </div>
                <fieldset>
                  <legend>Play with options</legend>
                  <div class="up-buttons">
                    <div ngf-select="" ngf-drop="" ng-model="files" ngf-model-invalid="invalidFiles" ng-model-options="modelOptionsObj" ngf-multiple="multiple" ngf-pattern="pattern" ngf-accept="acceptSelect" ng-disabled="disabled" ngf-capture="capture" ngf-drag-over-class="dragOverClassObj" ngf-validate="validateObj" ngf-resize="resizeObj" ngf-resize-if="resizeIfFn($file, $width, $height)" ngf-dimensions="dimensionsFn($file, $width, $height)" ngf-duration="durationFn($file, $duration)" ngf-keep="keepDistinct ? 'distinct' : keep" ngf-fix-orientation="orientation" ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select File
                      <span ng-show="dropAvailable"> or Drop File</span>
                    </div>
                    <br>
                    <div ngf-drop="" ng-model="files" ngf-model-invalid="invalidFiles" ng-model-options="modelOptionsObj" ngf-multiple="multiple" ngf-pattern="'image/*'" ng-disabled="disabled" ngf-drag-over-class="dragOverClassObj" ngf-validate="validateObj" ngf-resize="resizeObj" ngf-resize-if="resizeIfFn($file, $width, $height)" ngf-dimensions="dimensionsFn($file, $width, $height)" ngf-duration="durationFn($file, $duration)" ngf-keep="keepDistinct ? 'distinct' : keep" ngf-enable-firefox-paste="true" ngf-fix-orientation="orientation" ngf-allow-dir="allowDir" class="drop-box" ng-show="dropAvailable">
                      <span>Paste or Drop Image from browser</span></div>
                  </div>
                  <div class="custom">
                    <label>accept (for select browser dependent): <input type="text" ng-model="acceptSelect"></label><br>
                    <label>ngf-capture (for mobile): <input type="text" ng-model="capture"></label><br>
                    <label>ngf-pattern (validate file model): <input type="text" ng-model="pattern"></label><br>
                    <label>ngf-validate: <input type="text" ng-model="validate" size="49"></label><br>
                    <label>ngf-drag-over-class (chrome): <input size="31" type="text" ng-model="dragOverClass"></label><br>
                    <label>ng-model-options: <input type="text" size="43" ng-model="modelOptions"></label><br>
                    <label>ngf-resize: <input type="text" size="43" ng-model="resize"></label><br>
                    <label>ngf-resize-if: <input type="text" size="43" ng-model="resizeIf"></label><br>
                    <label>ngf-dimensions: <input type="text" size="43" ng-model="dimensions"></label><br>
                    <label>ngf-duration: <input type="text" size="43" ng-model="duration"></label><br>
                    <label><input type="checkbox" ng-model="multiple">ngf-multiple (allow multiple files)</label>
                    <label><input type="checkbox" ng-model="disabled">ng-disabled</label><br>
                    <label><input type="checkbox" ng-model="allowDir">ngf-allow-dir (allow directory drop Chrome
                      only)</label><br>
                    <label><input type="checkbox" ng-model="keep">ngf-keep (keep the previous model values in
                      ng-model)</label><br>
                    <label><input type="checkbox" ng-model="keepDistinct">ngf-keep="distinct" (do not allow
                      duplicates)</label><br>
                    <label><input type="checkbox" ng-model="orientation">ngf-fix-orientation (for exif jpeg files)</label><br>
                    <label>Upload resumable chunk size: <input type="text" ng-model="chunkSize"></label><br>
                  </div>

                  <div class="preview">
                    <div>Preview image/audio/video:</div>
                    <img ngf-src="!files[0].$error && files[0]">
                    <audio controls="" ngf-src="!files[0].$error && files[0]"></audio>
                    <video controls="" ngf-src="!files[0].$error && files[0]"></video>
                  </div>
                </fieldset>
                <br>
              </div>-->




              

                <div class="form-group">
                  <label>New Password</label>

                  <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required="">
                  <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                    Password must be at least 3 characters.
                  </p>
                </div>

                <p class="help-block"> {{ message }} </p>
                <br>Photo:
                <input type="file" ngf-select="" ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required="" ngf-model-invalid="errorFiles">
                <i ng-show="form.file.$error.required">*required</i><br>
                <i ng-show="form.file.$error.maxSize">File too large
                  {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
                <img ng-show="form.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                <br>
                <button ng-disabled="!form.$valid" ng-click="uploadPic(picFile)">Submit</button>
                <span class="progress" ng-show="picFile.progress >= 0">
                  <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                </span>
                <span ng-show="picFile.result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>-->
            </form>
          </div>
        </div>
    </div>
  </div>
  </div>
</section>