<section class="chat-app" ng-controller="BudgetCtrl">
  <div ng-include="'partials/navbar.html'"></div>
  <div class="main">
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
    	<form class="form-horizontal well">
			<fieldset>
    			<legend>Budget </legend>
        			<div class="form-group">
        			 <div class="col-md-4">
                     <input type="number" ng-model="values.first" ng-change="doCalculations(sign, values.first, values.second)">
                        <select ng-model="sign" ng-change="doCalculations(sign, values.first, values.second)">
                            <option value="+">+
                            <option value="-">-
                            <option value="*">*
                            <option value="/">/
                        </select>
                    <input type="number" ng-model="values.second" ng-change="doCalculations(sign, values.first, values.second)">
                        = {{result}}
        			  <input id="rentreeLabel" name="rentreeLabel" class="form-control col-md-4" placeholder="Entrez une Rentrée" type="text">
        			  </div>
        			  <div class="col-md-4">
        				<div class="input-group">
        				  <input id="rentreeMontant" name="rentreeMontant" ng-model="montantTotal" class="form-control" placeholder="montant" type="number">
        				  <div class="input-group-btn">
        					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        					  Save
        					  <span class="caret"></span>
        					</button>
        					<ul class="dropdown-menu pull-right">
        					  <li><a href="#">AAAAA</a></li>
        					  <li><a href="#">Option two</a></li>
        					  <li><a href="#">Option three</a></li>
        					</ul>
        				  </div>
        				</div>
        			  </div>
        			</div>

    			<!-- Button Drop Down -->
        			<div class="form-group">
        			 <div class="col-md-4">
        			  <input id="depenseLabel" name="depenseLabel" class="form-control col-md-4" placeholder="Entrez une Dépense" type="text">
        			  </div>
        			  <div class="col-md-4">
        				<div class="input-group">
        				  <input id="DepenseMontant" name="DepenseMontant" class="form-control" placeholder="montant" type="number">
        				  <div class="input-group-btn">
        					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        					  Save
        					  <span class="caret"></span>
        					</button>
        					<ul class="dropdown-menu pull-right">
        					  <li><a href="#">Option one</a></li>
        					  <li><a href="#">Option two</a></li>
        					  <li><a href="#">Option three</a></li>
        					</ul>
        				  </div>
        				</div>
        			  </div>
        			</div>

            			<!-- Textarea -->
            			<div class="form-group">
            			  <label class="col-md-4 control-label" for="textarea">Remarques</label>
            			  <div class="col-md-4">                     
            				<textarea class="form-control" id="textarea" name="textarea">Entrez une Remarque</textarea>
            			  </div>
            			</div>
                    montant : {{ montantTotal   }}
            			<!-- Button (Double) -->
            			<div class="form-group">

            			  <div class="col-md-8">
            				<button id="buttonSave" name="buttonSave" class="btn btn-success">Sauvegarder</button>
            				<button id="buttonReset" name="buttonReset" class="btn btn-danger">Reset</button>
            			  </div>
            			</div>
			         </fieldset>
    	           </form>
                </div>
            </div>
        </div>
    </div>
</section>                